@import url(/archive/2009/www.dcn.de/typo3conf/ext/db_yamltv/template/yaml/core/slim_base.css);
@import url(/archive/2009/www.dcn.de/fileadmin/styles/01_layouts_basics/css/navigation/nav_slidingdoor.css);
@import url(/archive/2009/www.dcn.de/fileadmin/styles/01_layouts_basics/css/navigation/nav_vlist.css);
@import url(/archive/2009/www.dcn.de/fileadmin/styles/01_layouts_basics/css/screen/basemod.css);
@import url(/archive/2009/www.dcn.de/fileadmin/styles/01_layouts_basics/css/screen/content.css);
@import url(/archive/2009/www.dcn.de/fileadmin/styles/01_layouts_basics/css/screen/typo3-RTE.css);
@import url(/archive/2009/www.dcn.de/fileadmin/styles/01_layouts_basics/css/print/print_003.css);
/*@import url(/archive/2009/www.dcn.de/fileadmin/styles/01_layouts_basics/css/navigation/nav_shinybuttons.css);
import print layout | Druck-Layout einbinden*/

/*
     FILE ARCHIVED ON 01:38:34 Mar 04, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:16:19 Jun 12, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.514
  exclusion.robots: 0.056
  exclusion.robots.policy: 0.045
  esindex: 0.011
  cdx.remote: 9.755
  LoadShardBlock: 201.915 (3)
  PetaboxLoader3.resolve: 128.816 (4)
  PetaboxLoader3.datanode: 121.523 (4)
  load_resource: 91.118
*/