/* default styles for extension "tx_sremailsubscribe_pi1" */
	.tx-sremailsubscribe-pi1 p { margin-top: .5em; margin-bottom: 0; padding: 0 .3em; text-indent: 0; }
	.tx-sremailsubscribe-pi1 p.tx-sremailsubscribe-pi1-click-to-edit { margin-left: 2em; margin-right: 2em;}
	.tx-sremailsubscribe-pi1 h4 { margin-top: 0; padding-left: .3em; }
	.tx-sremailsubscribe-pi1 legend { padding: 0 .5em; font-weight: bold; }
	.tx-sremailsubscribe-pi1 .tx-sremailsubscribe-pi1-notice { font-style: italic; margin-bottom: 1em; }
	.tx-sremailsubscribe-pi1 .tx-sremailsubscribe-pi1-trash { margin-bottom: 2em; }
	.tx-sremailsubscribe-pi1 a { padding-left: 14px; background-image: url(/archive/2009/www.dcn.de/typo3conf/ext/sr_feuser_register/pi1/internal_link.gif); background-repeat: no-repeat; background-position: 0% 60%; text-decoration:none; }
	.tx-sremailsubscribe-pi1 label { margin: 0; padding: 0; }
	.tx-sremailsubscribe-pi1 label span { color: #ff0000; }
	.tx-sremailsubscribe-pi1 .tx-sremailsubscribe-pi1-error { color: #ff0000; }
	.tx-sremailsubscribe-pi1 input { margin: 0; padding: 0 .5em 0 0; }
	.tx-sremailsubscribe-pi1 input[type=password] { margin-right: 1em; }
	* html .tx-sremailsubscribe-pi1 input.tx-sremailsubscribe-pi1-password { margin-right: 1em; }
	.tx-sremailsubscribe-pi1 input[type=radio], .tx-sremailsubscribe-pi1 input[type=checkbox] { background-color: transparent; }
	* html .tx-sremailsubscribe-pi1 input.tx-sremailsubscribe-pi1-radio, * html .tx-sremailsubscribe-pi1 input.tx-sremailsubscribe-pi1-checkbox { background-color: transparent; }		
	.tx-sremailsubscribe-pi1 .tx-sremailsubscribe-pi1-delete-icon { margin-left: 1em; background-color: transparent; }
	.tx-sremailsubscribe-pi1 .tx-sremailsubscribe-pi1-delete-icon:hover { cursor: pointer; }
	.tx-sremailsubscribe-pi1 a.tx-sremailsubscribe-pi1-file-view { padding-left: 15px; background-image: url(/archive/2009/www.dcn.de/typo3conf/ext/sr_feuser_register/pi1/internal_link_new_window.gif); background-color: transparent; background-repeat: no-repeat; font-size: .8em; margin-left: 1em; }
	.tx-sremailsubscribe-pi1 ul { margin: 0; padding: 0; list-style-position: inside; }
	.tx-sremailsubscribe-pi1 ul.tx-sremailsubscribe-multiple-checkboxes { list-style-type: none; }
	.tx-sremailsubscribe-pi1 ul.tx-sremailsubscribe-multiple-checkboxes li { margin: 0 0 .3em 0; padding: 0; }
	.tx-sremailsubscribe-pi1 ul.tx-sremailsubscribe-multiple-checkboxes li label { margin: 0; padding: 0 0 0 .5em; }
	.tx-sremailsubscribe-pi1 ul.tx-sremailsubscribe-multiple-checked-values li { float: left; padding: 0 2em 0 0; margin: 0; }
	.tx-sremailsubscribe-pi1 dl { margin: 0; padding: 1em 0 0 0; }
	.tx-sremailsubscribe-pi1 dt, .tx-sremailsubscribe-pi1 dd { margin: 0; padding: 0 0 .5em 0; float: left; }
	.tx-sremailsubscribe-pi1 dt { clear: both; width: 25%; text-align: right; padding-right: 1em; }
	.tx-sremailsubscribe-pi1 dd { text-align: left; width: 50%; }
	.tx-sremailsubscribe-pi1 .tx-sremailsubscribe-pi1-multiple-checkboxes dt { width: auto; padding-right: 0; }
	.tx-sremailsubscribe-pi1 .tx-sremailsubscribe-pi1-multiple-checkboxes dd { width: auto; }
	* html .tx-sremailsubscribe-pi1 dd { float: none; }
	.tx-sremailsubscribe-pi1 dd p { margin-top: 0; margin-bottom: .5em; padding: 0; }
	.tx-sremailsubscribe-pi1 dd label { padding: 0 1em 0 .5em; }
/* default styles for extension "sav_library" */

      /**
      * General definitions
      */     
    .sav-library {
      position:relative;
      float:left; 
      clear:left; 
      width:100%; 
      background-color:inherit;
      color:#004898;
    }     
    .sav-library A {
      text-decoration:none;
      background-color:inherit;
      font-weight:bold; 
      color:#4176FF; 
    }
    .sav-library A:hover { 
      color:#EA6900; 
    } 
    .sav-library A:active {
      color:#4176FF; 
    } 
  
      /**
      * Errors or messages
      */

    .sav-library DIV.error {
      display:block; 
      background-color:inherit;
      color:red;
    } 
    .sav-library INPUT.error {
      color:red; font-weight:bold;
    }         
    .sav-library-errors LI.error {
      background-color:inherit;
      color:red;
    }   
    .sav-library-messages LI.datasaved {
      background-color:inherit;
      color:red;
      font-weight:bold;
    }   

      /**
      * Icons 
      */   
    .sav-library IMG {float:left; padding:0px 1px 0px 1px; margin:0px;border-width:0px;}      
    .sav-library IMG.toggleModeButton {width:18px; height:16px;}      
    .sav-library IMG.inputModeButton {width:18px; height:16px;}           
    .sav-library IMG.printButton {width:18px; height:16px;}  
    .sav-library INPUT.generateRTFButton {width:20px; height:20px;}    
    .sav-library IMG.exportButton {padding-right:5px;}        
    .sav-library INPUT.exportokButton {float:left;padding-right:5px;}        
    .sav-library INPUT.submitButton {font-size:9px;margin-top:1px;}        
    .sav-library IMG.rightArrowButton {float:none; padding-left:2px;margin:0px;}      
    .sav-library IMG.leftArrowButton {float:none; padding-right:2px;margin:0px;}      
    .sav-library IMG.rightArrowButtonSubForm {float:none; padding-left:2px;margin:0px;}
    .sav-library IMG.leftArrowButtonSubForm {float:none; padding-left:2px;margin:0px;}
           
        /* Special tags */
    .sav-library DIV.right {
      float:right; 
      height:1px;
    }    
    .sav-library SPAN.left {   
      float:left; 
      padding:0px 3px 0px 3px;
    }  
    .sav-library DIV.left {
      float:left;  
    }  
    .sav-library DIV.separator {
      float:left;  
      width:5px;
    }  

    
        /* Title */
    .sav-library DIV.title {
      float:left;
      width:100%;
      background-color:#9999cc;
      color:inherit;
      margin:0px;
      padding:0px; 
    }    
    .sav-library DIV.title DIV.titleIconLeft {
      float:left;
      background-color:inherit;
      color:inherit;
      padding:2px 5px 2px 2px;
    }
    .sav-library DIV.title DIV.titleIconLeft INPUT {
      float:left;
    }
    .sav-library DIV.title DIV.titleIconLeft A {
      float:left;
    }
    .sav-library DIV.title DIV.titleLabel { 
      float:left;
      background-color:inherit;
      color:#ffffff;
      font-size:115%;
      font-weight:bold;
      vertical-align:middle;
      padding:4px;
    }    
    .sav-library DIV.title DIV.titleLabel UL { 
      float:left;
      margin:0px;
      padding:0px; 
      list-style:none;  
    }        
    .sav-library DIV.title DIV.titleLabel LI { 
      float:left;
      width:150px;
      background-color:#9999cc;
      color:#ffffff;
      font-size:115%;
      font-weight:bold;
      text-align:left;
      background-image:none;
      margin:0px;
      padding:0px 5px 0px 5px; 
    } 
    .sav-library DIV.title DIV.titleLabel LI A { 
      background-color:inherit;
      color:#ffffff;
    }           
    .sav-library DIV.title DIV.titleLabel LI A:hover { 
      background-color:inherit;
      color:#EA6900;
    }
    .sav-library DIV.title DIV.titleIconRight {
      float:right;
      padding:2px;
    }

        /* Folder Tabs */
    .sav-library DIV.folderTabs {
      float:left;
      width:100%;
      background:#ffffff url(/archive/2009/www.dcn.de/typo3conf/ext/sav_library/res/images/taMenuBorder.gif) repeat-x bottom;
      color:inherit;
      margin-top:1px;
      padding:0px;
    }
    .sav-library DIV.folderTabs UL.folderTabs {
      float:left;
      margin:0px;
      padding:0px;
      list-style:none; 
    }
    .sav-library DIV.folderTabs LI {
      display:inline;
      margin:0px;
      padding:0px;
    }
    .sav-library DIV.folderTabs LI A {
      float:left;
      background:url(/archive/2009/www.dcn.de/typo3conf/ext/sav_library/res/images/taMenuRight.gif) no-repeat right top;
      border-bottom:1px solid #84B0C7;
      font-weight:bold;
      text-decoration:none;
    }
    .sav-library DIV.folderTabs LI A SPAN {
      display:block;
      background:url(/archive/2009/www.dcn.de/typo3conf/ext/sav_library/res/images/taMenuLeft.gif) no-repeat left top;
      padding:5px 9px;
      white-space:nowrap;
    } 
    .sav-library DIV.folderTabs LI#currentTab A {
      background-position:100% -150px;
      border-width:0px;
    }
    .sav-library DIV.folderTabs LI A:hover {
      background-position:100% -150px;
    }    
    .sav-library DIV.folderTabs LI A:hover SPAN {
      background-position:0% -150px;
    }
    .sav-library DIV.folderTabs LI#currentTab A SPAN {
      background-position:0% -150px;
      padding-bottom:6px;
    } 
       
        /* Subitem */             
    .sav-library DIV.subitems {
      float:left;  
      width:inherit;
    }
    .sav-library DIV.subitems DIV.subitem {
      float:left;
      width:inherit;
      border:2px #f1fbfd solid; 
      margin:0px;
      padding:0px;
    }
      
        /* Arrows */
    .sav-library DIV.arrows {
      float:left;
      width:100%; 
      background-color:inherit;
      color:inherit;
      margin:0px;
      padding:1px 0px 0px 0px;
      text-align:center;   
    }  

     
      /**
      * showAll Form 
      */
          
    .sav-library DIV.showAllHidden {
      display:none;
    }
    .sav-library DIV.showAll, .sav-library DIV.updateForm, .sav-library DIV.printForm {
      float:left;
      width:100%;
      border:1px  #000099 solid;
      background-color:#f1fbfd;
      color:inherit;
      margin:0px 0px 15px 0px;
      padding:1px; 
      overflow:hidden;
    }
          
        /* Item */
    .sav-library DIV.showAll DIV.items, .sav-library DIV.updateForm DIV.items, .sav-library DIV.printForm DIV.items {
      float:left;     
      width:inherit;
      background-color:#ffffff;      
      color:inherit;
      padding:0px; 
      margin:0px;
    }
        
    .sav-library DIV.showAll DIV.items DIV.item, .sav-library DIV.updateForm DIV.items DIV.item, .sav-library DIV.printForm DIV.items DIV.item {
      float:left;
      width:inherit;     
      border-top:1px #ddeeee solid;
      border-bottom:1px #ddeeee solid;
      background-color:#f1fbfd;
      color:inherit;
      margin-bottom:1px;
      padding:0px; 
    }    
        
    .sav-library DIV.showAll DIV.items DIV.item DIV.itemIconLeft, .sav-library DIV.updateForm DIV.items DIV.item DIV.itemIconLeft, .sav-library DIV.printForm DIV.items DIV.item  DIV.itemIconLeft {
      float:left;
      padding:2px 5px 2px 2px; 
      width:18px;
    }
    .sav-library DIV.showAll DIV.items DIV.item DIV.value, .sav-library DIV.updateForm DIV.items DIV.item DIV.value, .sav-library DIV.printForm DIV.items DIV.item DIV.value {
      float:left;     
      background-color:inherit;
      color:inherit;
      margin:0px;
      padding:0px; 
    }      
    .sav-library DIV.showAll UL, .sav-library DIV.updateForm UL, .sav-library DIV.printForm UL {
      float:left;
      background-color:inherit;
      color:inherit;
      list-style:none;
      margin:0px;
      padding:0px; 
    }    
    .sav-library DIV.showAll LI, .sav-library DIV.updateForm LI, .sav-library DIV.printForm LI {
      float:left;
      background-image:none;
      background-color:inherit;
      color:inherit;
      width:150px;
      margin:0px;
      padding:5px;
      text-align:left;
    }   
    .sav-library DIV.showAll DIV.block, .sav-library DIV.updateForm DIV.block, .sav-library DIV.printForm DIV.block {
      float:left;
      width:100%;
      border-top:solid 1px #004898;
      border-bottom:solid 1px #004898;
      padding:5px; 
      margin-top:2px;
      margin-bottom:2px;
    }
    .sav-library DIV.showAll DIV.blockHide, .sav-library DIV.updateForm DIV.blockHide, .sav-library DIV.printForm DIV.blockHide  {
      float:left;
      visibility:hidden; 
      height:0px;
    }
    .sav-library DIV.showAll DIV.blockTitle, .sav-library DIV.updateForm DIV.blockTitle, .sav-library DIV.printForm DIV.blockTitle  {
      float:left;
      font-weight:bold;
      border-bottom:solid 1px #004898;
      width:30%; 
      min-width:210px;
      padding-bottom:5px; 
      margin-bottom:5px;
    }    
    

      /* Update form */
    .sav-library DIV.updateForm DIV.label {
      font-weight:bold;
      padding:0px 5px 0px 5px;
    }
    .sav-library DIV.updateForm DIV.field {
      padding:2px 5px 2px 5px;
    }
    .sav-library DIV.updateForm span.required {
      background-color:inherit;
      color:red;
      font-weight:bold;
      padding:0px 5px 0px 5px;
    }
    .sav-library DIV.updateForm DIV.updateCol1 {
      clear:both; 
      float:left; 
      width:20%;
      min-width:140px; 
      font-weight:bold; 
      min-height:25px;    
    }
    .sav-library DIV.updateForm DIV.updateCol2 {
      float:left; 
      width:30%; 
      min-width:210px; 
      min-height:25px; 
      padding:0px 10px 0px 10px;
    }
    .sav-library DIV.updateForm DIV.updateCol2 SPAN.checkbox{
      float:left; 
      text-align:left; 
    }
    .sav-library DIV.updateForm DIV.updateCol3 {
      float:left; 
      width:40%; 
      min-width:300px; 
      min-height:25px; 
    }
    .sav-library DIV.updateForm DIV.updateCol3 INPUT {
      font-size:12px;
    }
    .sav-library DIV.updateForm DIV.updateCol3 SELECT {
      font-size:12px;
    }
    .sav-library DIV.updateForm DIV.updateCol3 TEXTAREA {
      font-size:12px;
    }
    .sav-library DIV.updateForm DIV.updateCol4 {
      float:right;
      width:20px; 
      background-color:red; 
      margin-right:10px;
    }
    .sav-library DIV.updateForm DIV.updateCol4Manual {
      float:right; 
      width:20px; 
      background-color:green; 
      margin-right:10px;
    }

      /* Print form */
    .sav-library DIV.printForm DIV.label {
      float:left; 
      clear:left;
      width:130px; 
      font-weight:bold; 
      min-height:20px;     
      padding:0px 10px 0px 10px;
    }    
    .sav-library DIV.printForm DIV.field {
      float:left; 
      width:450px; 
      min-height:20px; 
      padding:0px 10px 0px 10px;
    }
    .sav-library DIV.printForm DIV.printCol1 {
      clear:left; 
      float:left; 
      width:130px; 
      font-weight:bold; 
      min-height:25px;     
    }    
    .sav-library DIV.printForm DIV.printCol2 {
      float:left; 
      width:450px; 
      min-height:25px; 
      padding:0px 10px 0px 10px;
    }

              
      /* Browse links (showAllAlt template) */     
    .sav-library DIV.showAll DIV.arrows DIV.browseLinksWrap {  
      padding:5px;
    }   
   .sav-library DIV.showAll DIV.arrows DIV.browseLinksWrap SPAN.activeLinkWrap {  
      background-color:inherit; 
      color:#EA6900;
      vertical-align:top;
      padding-left:2px;
    }   
    .sav-library DIV.showAll DIV.arrows DIV.browseLinksWrap SPAN.inactiveLinkWrap {  
      background-color:inherit; 
      color:#EA6900;
      vertical-align:top;
      padding-left:2px;
    }        
    .sav-library DIV.showAll DIV.arrows DIV.browseLinksWrap SPAN.disabledLinkWrap {  
      background-color:inherit; 
      color:#EA6900;
      vertical-align:top;
      padding-left:2px;
    }        
    .sav-library DIV.showAll DIV.arrows DIV.browseLinksWrap SPAN.activeLinkWrap A {  
      background-color:inherit; 
      color:#EA6900;
    }   
    .sav-library DIV.showAll DIV.arrows DIV.browseLinksWrap SPAN.inactiveLinkWrap A {  
    }   
    .sav-library DIV.showAll DIV.arrows DIV.browseLinksWrap IMG {  
      float:none;
      padding-left:2px;
      margin:0px;
      vertical-align:middle; 
    } 
    .sav-library DIV.showAll DIV.arrows DIV.browseLinksWrap IMG {  
      float:none;
      padding-left:2px;
      margin:0px;
      vertical-align:middle; 
    } 
    
      /**
      * showSingle Item 
      */
    .sav-library DIV.showSingle {
      float:left;
      width:100%;
      border:1px #000099 solid;
      background-color:#f1fbfd;
      color:inherit;
      margin:0px 0px 15px 0px;
      padding:1px; 
    }                 
    .sav-library DIV.showSingle DIV.items {
      float:left;  
      width:100%;
      background-color:#ffffff;      
      color:inherit;
      padding:0px; 
      margin:2px 0px 0px 0px;
    }        
    .sav-library DIV.showSingle DIV.items DIV.item {
      float:left;    
      width:100%;
      border-top:1px #ddeeee solid;
      border-bottom:1px #ddeeee solid;
      background-color:#ffffff;
      color:inherit;
      padding:0px;       
      margin-bottom:1px;
    } 
    .sav-library DIV.showSingle DIV.items DIV.item DIV.label {
      float:left;
      width:100px;
      background-color:#d7e8e8;
      color:#000099;
      font-weight:bold;
      text-align:left;
      margin:0px;
      padding:5px;
    }
    .sav-library DIV.showSingle DIV.items DIV.item DIV.value {
      float:left;
      min-width:150px;
      background-color:#ffffff;
      color:inherit;
      margin:0px;
      padding:0px;  
    }
    .sav-library DIV.showSingle DIV.items DIV.item DIV.value_subForm {
      float:left;
      width:100%;
      background-color:#ffffff;
      color:inherit;
      margin:0px;
      padding:0px;  
    }
    .sav-library DIV.showSingle DIV.items DIV.item DIV.inner {
      float:left;
      background-color:inherit;
      color:inherit;
      margin:0px;
      padding:5px;        
    }
    .sav-library DIV.showSingle DIV.items DIV.item DIV.inner_subForm {
      float:left;
      width:100%;
      background-color:inherit;
      color:inherit;
      margin:0px;
      padding:0px;    
    }  
    .sav-library DIV.showSingle DIV.items DIV.item DIV.inner P {
      display:block;
    }  
   
    /* hack to emulate min-width for IE ! */
        
   	* html .sav-library DIV.showSingle DIV.items DIV.item DIV.value {
      position: relative;
      float: left;
		  border-left: 150px solid #ffffff;
      padding: 0px;
      margin: 0px;
    }
  	* html .sav-library DIV.showSingle DIV.items DIV.item DIV.value DIV.inner {
      position: relative;
      float: left;
      background-color: #ffffff;
      color: inherit;
      padding: 5px;    
      margin: 0px 0px 0px -145px;
      vertical-align: baseline;
    }       
  
  	.sav-library DIV.showSingle DIV.items DIV.item DIV.value DIV.inner SPAN.checkbox {
      float:left;
      padding:0px 5px 0px 5px;    
		  margin:0px;
    } 
  	.sav-library DIV.showSingle DIV.items DIV.item DIV.value DIV.inner BR.checkbox {
      clear:left;
      padding:0px;    
		  margin:0px;
    }   	
  	.sav-library DIV.showSingle DIV.items DIV.item DIV.export DIV.inner INPUT {
      float:left;
      padding:0px 5px 0px 5px;    
		  margin:0px;
    }                   
  	.sav-library DIV.showSingle DIV.items DIV.item DIV.export DIV.inner SPAN.checkbox {
      float:left;
      padding:0px 5px 0px 5px;    
		  margin:0px;
		  width:400px;
		  text-align:left;
    }                   
  	.sav-library DIV.showSingle DIV.items DIV.item DIV.export DIV.inner BR.checkbox {
      clear:left;
      padding:0px;    
		  margin:0px;
    } 
  	.sav-library DIV.showSingle DIV.block {
      float:left;
      min-width:97.5%;      
      margin:5px;
      padding:5px;
      border:1px #004898 solid;
    }
  	.sav-library DIV.showSingle DIV.blockTitle {
      float:left;
      background-color:inherit;
      font-weight:normal;
      color:#000099;
      font-weight:bold;
      font-size:10px;
      border-bottom:solid 1px #004898;
      width:300px;
      padding-bottom:5px;
      margin-bottom:5px;
    } 
           	
        /* Subform */  
    .sav-library DIV.showSingle DIV.subForm {
      float:left; 
      width:100%;
      border-top:2px #000099 solid;
      border-bottom:2px #000099 solid;
      background-color:#ffffff;
      color:inherit;
      margin:0px;
      padding:0px;
    }
    .sav-library DIV.showSingle DIV.subForm DIV.title {
      float:left;
      width:100%;  
      background-color:#9999cc;
      color:inherit;
      margin:0px;
      padding:0px; 
    }     
    .sav-library DIV.showSingle DIV.subForm DIV.items {
      float:left;
      margin-bottom:1px;
      padding:0px;     
    }    
    .sav-library DIV.showSingle DIV.subForm DIV.items DIV.item {
      float:left;
      width:inherit;  
      margin-bottom:1px;
      padding:0px;     
    }
    .sav-library DIV.showSingle DIV.subFormAlt DIV.arrows DIV.browseLinksWrap {
      padding:5px;
    }
   .sav-library DIV.showSingle DIV.subFormAlt DIV.arrows DIV.browseLinksWrap SPAN.activeLinkWrap {
      background-color:inherit;
      color:#EA6900;
      vertical-align:top;
      padding-left:2px;
    }
    .sav-library DIV.showSingle DIV.subFormAlt DIV.arrows DIV.browseLinksWrap SPAN.inactiveLinkWrap {
      background-color:inherit;
      color:#EA6900;
      vertical-align:top;
      padding-left:2px;
    }
    .sav-library DIV.showSingle DIV.subFormAlt DIV.arrows DIV.browseLinksWrap SPAN.disabledLinkWrap {
      background-color:inherit;
      color:#EA6900;
      vertical-align:top;
      padding-left:2px;
    }
    .sav-library DIV.showSingle DIV.subFormAlt DIV.arrows DIV.browseLinksWrap SPAN.activeLinkWrap A {
      background-color:inherit;
      color:#EA6900;
    }
    .sav-library DIV.showSingle DIV.subFormAlt DIV.arrows DIV.browseLinksWrap SPAN.inactiveLinkWrap A {
    }
    .sav-library DIV.showSingle DIV.subFormAlt DIV.arrows DIV.browseLinksWrap IMG {
      float:none;
      padding-left:2px;
      margin:0px;
      vertical-align:middle;
    }
    .sav-library DIV.showSingle DIV.subFormAlt DIV.arrows DIV.browseLinksWrap IMG {
      float:none;
      padding-left:2px;
      margin:0px;
      vertical-align:middle;
    }
     
                     
      /**
      * inputForm Item 
      */
    .sav-library DIV.inputForm {
      float:left;
      width:100%;
      border:1px #000099 solid;
      background-color:#f1fbfd;
      color:inherit;
      margin:0px 0px 15px 0px;
      padding:1px; 
    }                 
    .sav-library DIV.inputForm DIV.items {  
      float:left; 
      width:100%;
      background-color:#ffffff;      
      color:inherit;
      padding:0px; 
      margin:2px 0px 0px 0px;
    }        
    .sav-library DIV.inputForm DIV.items DIV.item {
      float:left;     
      width:100%;
      border-top:1px #ddeeee solid;
      border-bottom:1px #ddeeee solid;
      background-color:#ffffff;
      color:inherit;
      padding:0px; 
      margin:1px 0px 0px 0px;     
    }  
    .sav-library DIV.inputForm DIV.items DIV.item DIV.label {
      float:left;
      width:100px;
      border:0px #ddeeee solid;
      background-color:#d7e8e8;
      color:#000099;
      font-weight:bold;
      text-align:left;
      margin:0px;
      padding:5px;
    }
    .sav-library DIV.inputForm DIV.items DIV.item DIV.value {
      float:left;
      min-width:150px;
      background-color:#ffffff;
      color:inherit;
      margin:0px;
      padding:0px;  
    }
    .sav-library DIV.inputForm DIV.items DIV.item DIV.value_subForm {
      float:left;
      width:100%;
      background-color:#ffffff;
      color:inherit;
      margin:0px;
      padding:0px;  
    }
    .sav-library DIV.inputForm DIV.items DIV.item DIV.inner {
      float:left;
      background-color:inherit;
      color:inherit;
      margin:0px;
      padding:5px;        
    }
    .sav-library DIV.inputForm DIV.items DIV.item DIV.inner_subForm {
      float:left;
      width:100%;
      background-color:inherit;
      color:inherit;
      margin:0px;
      padding:0px;    
    }  
    .sav-library DIV.inputForm DIV.items DIV.item DIV.inner P {
      display:block;
    }  
   
    /* hack to emulate min-width for IE ! */
    
   	* html .sav-library DIV.inputForm DIV.items DIV.item DIV.value {
      position: relative;
      float: left;
		  border-left: 150px solid #ffffff;
      padding: 0px;
      margin: 0px;
    }
  	* html .sav-library DIV.inputForm DIV.items DIV.item DIV.value DIV.inner {
      position: relative;
      float: left;
      background-color: #ffffff;
      color: inherit;
      padding: 5px;    
      margin: 0px 0px 0px -145px;
      vertical-align: baseline;
    }       
         
    .sav-library DIV.inputForm DIV.items DIV.item DIV.inner {
      float:left;
      margin:0px;
      padding:1px;  
    }
    .sav-library DIV.inputForm DIV.items DIV.itemIconLeft {
      float:left;
      width:35px;
      padding:2px; 
    }
    .sav-library DIV.inputForm DIV.items DIV.itemIconLeftVoid {
      display:none;
    }    
  	.sav-library DIV.inputForm DIV.items DIV.item DIV.value DIV.inner INPUT {
      float:left;
      padding:0px;    
		  margin:0px;
    }        
  	.sav-library DIV.inputForm DIV.items DIV.item DIV.value DIV.inner SPAN.checkbox {
      float:left;
      padding:0px 5px 0px 5px;    
		  margin:0px;
    }        
  	.sav-library DIV.inputForm DIV.items DIV.item DIV.value DIV.inner BR.checkbox {
      clear:left;
      padding:0px;    
		  margin:0px;
    }   	
    .sav-library DIV.inputForm DIV.items DIV.item DIV.value DIV.inner BR.radio {
      clear:left;
      padding:0px;    
		  margin:0px;
    }   	
    .sav-library DIV.inputForm DIV.items DIV.item DIV.value DIV.inner TEXTAREA {
      float:left;
      padding:0px;    
		  margin:0px;
    }          
  	.sav-library DIV.inputForm DIV.block {
      float:left;
      min-width:97.5%;      
      margin:5px;
      padding:5px;
      border:1px #004898 solid;
    }
  	.sav-library DIV.inputForm DIV.blockTitle {
      float:left;
      background-color:inherit;
      font-weight:normal;
      color:#000099;
      font-weight:bold;
      font-size:10px;
      border-bottom:solid 1px #004898;
      width:300px;
      padding-bottom:5px;
      margin-bottom:5px;
    } 
    
        /* Subform */  
    .sav-library DIV.inputForm DIV.subForm {
      float:left; 
      width:100%;
      border-top:1px #000099 solid;
      border-bottom:1px #000099 solid;
      background-color:#ffffff;
      color:inherit;
      margin:0px;
      padding:0px;
    }
    .sav-library DIV.inputForm DIV.subForm DIV.title {
      float:left;
      width:100%;  
      background-color:#9999cc;
      color:inherit;
      margin:0px;
      padding:0px; 
    }
    .sav-library DIV.inputForm DIV.subForm DIV.title DIV.titleLabel { 
      float:left;
      background-color:inherit;
      color:#ffffff;
      font-size:100%;
      font-weight:bold;
      vertical-align:middle;
      padding:3px;
    }    
         
    .sav-library DIV.inputForm DIV.subForm DIV.items {
      float:left;
      width:100%;
      margin-bottom:1px;
      padding:0px;     
    }    
    .sav-library DIV.inputForm DIV.subForm DIV.items DIV.item {
      float:left;
      width:100%;  
      margin-bottom:1px;
      padding:0px;     
    }    
    .sav-library DIV.inputForm DIV.subFormAlt DIV.arrows DIV.browseLinksWrap {
      padding:5px;
    }
   .sav-library DIV.inputForm DIV.subFormAlt DIV.arrows DIV.browseLinksWrap SPAN.activeLinkWrap {
      background-color:inherit;
      color:#EA6900;
      vertical-align:top;
      padding-left:2px;
    }
    .sav-library DIV.inputForm DIV.subFormAlt DIV.arrows DIV.browseLinksWrap SPAN.inactiveLinkWrap {
      background-color:inherit;
      color:#EA6900;
      vertical-align:top;
      padding-left:2px;
    }
    .sav-library DIV.inputForm DIV.subFormAlt DIV.arrows DIV.browseLinksWrap SPAN.disabledLinkWrap {
      background-color:inherit;
      color:#EA6900;
      vertical-align:top;
      padding-left:2px;
    }
    .sav-library DIV.inputForm DIV.subFormAlt DIV.arrows DIV.browseLinksWrap SPAN.activeLinkWrap A {
      background-color:inherit;
      color:#EA6900;
    }
    .sav-library DIV.inputForm DIV.subFormAlt DIV.arrows DIV.browseLinksWrap SPAN.inactiveLinkWrap A {
    }
    .sav-library DIV.inputForm DIV.subFormAlt DIV.arrows DIV.browseLinksWrap IMG {
      float:none;
      padding-left:2px;
      margin:0px;
      vertical-align:middle;
    }
    .sav-library DIV.inputForm DIV.subFormAlt DIV.arrows DIV.browseLinksWrap IMG {
      float:none;
      padding-left:2px;
      margin:0px;
      vertical-align:middle;
    }

    
    /* Media print */ 
    @media print {

      .break{
        float:left;
        clear:left;
        width:1px;
        page-break-after:always;
        border: 1px solid white;
      }   
  
      .sav-library DIV.showAll, .sav-library DIV.printForm {float:left;border:none;overflow:visible;color:black;background-color:inherit;}
      .sav-library DIV.showAll DIV.title, .sav-library DIV.printForm DIV.title {font-size:12px;font-weight:bold;color:black;background-color:inherit;}
      .sav-library DIV.showAll DIV.block, .sav-library DIV.printForm DIV.block {float:none;border:none;}
      .sav-library DIV.showAll DIV.blockTitle, .sav-library DIV.printForm DIV.blockTitle {border-top:solid 1px #004898;margin-top:10px;} 
      .sav-library DIV.showAll DIV.items, .sav-library DIV.printForm DIV.items {float:none;border:none;}     
      .sav-library DIV.showAll DIV.items DIV.item, .sav-library DIV.printForm DIV.items DIV.item {float:left;border:none;}
        
     	* html .sav-library DIV.showAll DIV.items DIV.item DIV.value {
        float:left;
        padding:0px;
        border:none;
        margin:0px;
      }
    	* html .sav-library DIV.showSingle DIV.items DIV.item DIV.value DIV.inner {
        float:left;
        background-color:#ddddee;
        color:inherit;
        padding:5px;   
        margin:0px;
        width:150px;
      }
    	* html .sav-library DIV.inputForm DIV.items DIV.item DIV.value DIV.inner {
        float:left;
        padding:2px 0px 0px 0px;     
        margin:0px;
        width:150px;
      }
    }         
      
/* default styles for extension "tx_srfreecap_pi2" */
		.tx-srfreecap-pi2-image { margin-left: 1em; }
		.tx-srfreecap-pi2-cant-read { font-size: .9em; color:#35006d; }
		.tx-srfreecap-pi2-cant-read a:link { background-color:transparent; font-weight:bold; text-decoration:none; }
/* default styles for extension "tx_croncssstyledimgtext" */
/*
 * css-styled-imgtext
 */
/*
  Licensed under the GPL, see http://www.gnu.org/copyleft/gpl.html
  (c) the TYPO3 content rendering group
  (c) Ernesto Baschny (ernst@cron-it.de)
*/

/* Captions */
P.csc-caption { margin: 0; }
P.csc-caption {
  font-size: 80%; /* Customize me */
}
DIV.csi-caption-c .csi-caption { text-align: center; }
DIV.csi-caption-r .csi-caption { text-align: right; }
DIV.csi-caption-l .csi-caption { text-align: left; }

/* Needed for noRows setting */
DIV.csi-textpic DIV.csi-imagecolumn { float: left; display: inline; }

/* Border just around the image */
DIV.csi-border DIV.csi-imagewrap .csi-image IMG {
  border: 2px solid black;
  padding: 0px 0px;
}

DIV.csi-imagewrap { padding: 0; }

DIV.csi-textpic IMG { border: none; }

/* DIV: This will place the images side by side */
DIV.csi-textpic DIV.csi-imagewrap DIV.csi-image { float: left; }

/* UL: This will place the images side by side */
DIV.csi-textpic DIV.csi-imagewrap UL { list-style: none; margin: 0; padding: 0; }
DIV.csi-textpic DIV.csi-imagewrap UL LI { float: left; margin: 0; padding: 0; }

/* DL: This will place the images side by side */
DIV.csi-textpic DIV.csi-imagewrap DL.csi-image { float: left; }
DIV.csi-textpic DIV.csi-imagewrap DL.csi-image DT { float: none; }
DIV.csi-textpic DIV.csi-imagewrap DL.csi-image DD { float: none; }
DIV.csi-textpic DIV.csi-imagewrap DL.csi-image DD IMG { border: none; } /* FE-Editing Icons */
DL.csi-image { margin: 0; }
DL.csi-image DT { margin: 0; display: inline; }
DL.csi-image DD { margin: 0; }

/* Clearer */
DIV.csi-clear { clear: both; }

/* Margins around images: */

/* Pictures on left, add padding on right */
DIV.csi-left DIV.csi-imagewrap .csi-image,
DIV.csi-intext-left-nowrap DIV.csi-imagewrap .csi-image,
DIV.csi-intext-left DIV.csi-imagewrap .csi-image {
  display: inline; /* IE fix for double-margin bug */
  margin-right: 10px;
}

/* Pictures on right, add padding on left */
DIV.csi-right DIV.csi-imagewrap .csi-image,
DIV.csi-intext-right-nowrap DIV.csi-imagewrap .csi-image,
DIV.csi-intext-right DIV.csi-imagewrap .csi-image {
  display: inline; /* IE fix for double-margin bug */
  margin-left: 10px;
}

/* Pictures centered, add padding left and right */
DIV.csi-center DIV.csi-imagewrap .csi-image {
  display: inline; /* IE fix for double-margin bug */
  margin-left: 5px;
  margin-right: 5px;
}
DIV.csi-textpic DIV.csi-imagewrap .csi-image .csi-caption { margin: 0; }
DIV.csi-textpic DIV.csi-imagewrap .csi-image IMG { margin: 0; }

/* Space below each image (also in-between rows) */
DIV.csi-textpic DIV.csi-imagewrap .csi-image { margin-bottom: 5px; }
DIV.csi-equalheight DIV.csi-imagerow { margin-bottom: 5px; display: block; }

/* Positioning of images: */

/* Above */
DIV.csi-above DIV.csi-text { clear: both; }

/* Center (above or below) */
DIV.csi-center { text-align: center; /* IE-hack */ }
DIV.csi-center DIV.csi-imagewrap { margin: 0 auto; }
DIV.csi-center DIV.csi-imagewrap .csi-image { text-align: left; /* Remove IE-hack */ }
DIV.csi-center DIV.csi-text { text-align: left; /* Remove IE-hack */ }

/* Right (above or below) */
DIV.csi-right DIV.csi-imagewrap { float: right; }
DIV.csi-right DIV.csi-text { clear: right; }

/* Left (above or below) */
DIV.csi-left DIV.csi-imagewrap { float: left; }
DIV.csi-left DIV.csi-text { clear: left; }

/* Left (in text) */
DIV.csi-intext-left DIV.csi-imagewrap { float: left; }

/* Right (in text) */
DIV.csi-intext-right DIV.csi-imagewrap { float: right; }

/* Right (in text, no wrap around) */
DIV.csi-intext-right-nowrap DIV.csi-imagewrap { float: right; clear: both; }
/* Hide from IE5-mac. Only IE-win sees this. \*/
* html DIV.csi-intext-right-nowrap .csi-text { height: 1%; }
/* End hide from IE5/mac */ 

/* Left (in text, no wrap around) */
DIV.csi-intext-left-nowrap DIV.csi-imagewrap { float: left; clear: both; }
/* Hide from IE5-mac. Only IE-win sees this. \*/
* html DIV.csi-intext-left-nowrap .csi-text { height: 1%; }
/* End hide from IE5/mac */
/*
     FILE ARCHIVED ON 16:50:46 Dec 23, 2010 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:21:47 Jun 12, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.356
  exclusion.robots: 0.043
  exclusion.robots.policy: 0.036
  esindex: 0.006
  cdx.remote: 5.629
  LoadShardBlock: 87.833 (3)
  PetaboxLoader3.datanode: 103.331 (4)
  load_resource: 90.265
  PetaboxLoader3.resolve: 52.377
*/